<%# <section class="auth">
  <div class="auth-content">
    <div class="profile-pic"></div> %>
    <%= form_for(resource, as: resource_name, url: user_registration_path, html: { class: "form signup" }) do |f| %>
       <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username, autofocus: true, placeholder: "johndoe123", id: "error_username_field", required: true %>
        <%= f.error_message_for(:username) %>
      </div>
      
      <div class="field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true, placeholder: "person@example.com", autocomplete: "email", id: "error_email_field", required: true %>
        <%= f.error_message_for(:email) %>
      </div>

      <div class="field">
        <%= f.label :password do %>
          Password
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", id: "error_password_field", required: true %>
        <%= f.error_message_for(:password) %>
        <%# <p class='error'><%= show_errors(resource, :password) %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "error_password_confirmation_field", required: true %>
        <%= f.error_message_for(:password_confirmation) %>
      </div>

      <div>
        <%= f.submit "Sign up", class: "submit-btn" %>
      </div>
    <% end %>
  <%# </div>
</section> %>
