<div class="intro">
  <div class="container heading">
    <div class="heading-content">
      <% if current_user %>
        <div class="profile">
          <%= image_tag("default.jpg", class: "profile-img") %>
          <div class="profile-info">
            <p class="name"><%= current_user.full_name %></p>
            <p class="username"><strong>@<%= current_user.username %></strong></p>
          </div>
            <%= link_to destroy_user_session_path, method: :delete, class: "sign" do %>
              <svg aria-hidden="true" focusable="false" data-prefix="far" data-icon="sign-out-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-sign-out-alt fa-w-16 fa-fw fa-md">
              <path fill="currentColor" d="M272 112v51.6h-96c-26.5 0-48 21.5-48 48v88.6c0 26.5 21.5 48 48 48h96v51.6c0 42.6 51.7 64.2 81.9 33.9l144-143.9c18.7-18.7 18.7-49.1 0-67.9l-144-144C323.8 48 272 69.3 272 112zm192 144L320 400v-99.7H176v-88.6h144V112l144 144zM96 64h84c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12H96c-26.5 0-48 21.5-48 48v192c0 26.5 21.5 48 48 48h84c6.6 0 12 5.4 12 12v24c0 6.6-5.4 12-12 12H96c-53 0-96-43-96-96V160c0-53 43-96 96-96z" class=""></path>
            </svg>Sign Out
            <% end %>
        </div>
      <% else %>
        <div class="sign">
          <svg aria-labelledby="svg-inline--fa-title-IIs8tHlFBrQX" data-prefix="far" data-icon="sign-in-alt" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-sign-in-alt fa-w-16 fa-fw fa-sm">
            <title id="svg-inline--fa-title-IIs8tHlFBrQX" class="">Sign In</title>
            <path fill="currentColor" d="M144 112v51.6H48c-26.5 0-48 21.5-48 48v88.6c0 26.5 21.5 48 48 48h96v51.6c0 42.6 51.7 64.2 81.9 33.9l144-143.9c18.7-18.7 18.7-49.1 0-67.9l-144-144C195.8 48 144 69.3 144 112zm192 144L192 400v-99.7H48v-88.6h144V112l144 144zm80 192h-84c-6.6 0-12-5.4-12-12v-24c0-6.6 5.4-12 12-12h84c26.5 0 48-21.5 48-48V160c0-26.5-21.5-48-48-48h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96z" class=""></path>
          </svg>
          <%= link_to 'Sign In', new_user_session_path %>
        </div>
      <% end %>

      
      
      <div class="fem">
        <strong>Frontend Mentor</strong>
        <p style="opacity: .7;">Feedback Board</p>
      </div>
    </div>

    <div id="ham-btn" class="toggle-menu">
      <span class="first"></span>
      <span class="second"></span>
      <span class="third"></span>
    </div>
  </div>

  <div class="menus">
    <div class="exit-click"></div>
    <div class="menus-container">
      <ul class="categories">
        <button class="category">All</button>
        <button class="category">UI</button>
        <button class="category">UX</button>
        <button class="category">Enhancement</button>
      </ul>

      <div class="roadmap">
        <div class="roadmap-heading">
          <strong>Roadmap</strong>
          <a href="#">View</a>
        </div>
        <ul class="progress-chart">
          <li class="planned">
            <p>Planned</p>
            <strong>2</strong>
          </li>
          <li class="progress">
            <p>In-Progress</p>
            <strong>3</strong>
          </li>
          <li class="live">
            <p>Live</p>
            <strong>1</strong>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="actions">
  <div class="container actions-container">
    <div class="actions-wrapper">
      <div class="suggestions">
        <p>0 Suggestions</p>
      </div>
      <p style="line-height: 0">Sort by :</p>
      <button class="filter-toggle">Most Upvotes </button>
      <a href="#" class="new-feedback">+ Add Feedback</a>
    </div>

    <div class="filters">
      <button class="filter selected">Most Upvotes
      <svg xmlns="http://www.w3.org/2000/svg" width="13" height="11"><path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1"/></svg></button>

      <button class="filter">Least Upvotes<svg xmlns="http://www.w3.org/2000/svg" width="13" height="11"><path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1"/></svg></button>

      <button class="filter">Most Comments<svg xmlns="http://www.w3.org/2000/svg" width="13" height="11"><path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1"/></svg></button>

      <button class="filter">Least Comments<svg xmlns="http://www.w3.org/2000/svg" width="13" height="11"><path fill="none" stroke="#AD1FEA" stroke-width="2" d="M1 5.233L4.522 9 12 1"/></svg></button>
    </div>
  </div>
</div>

<script>
  $(document).on("turbolinks:load", () => {
    const filter_btn = $(".filter-toggle")
    //filtered thing in dropdown
    let selected_filter = $(".filter").first()

    //Toggle mobile menu
    $("#ham-btn").click(() => {
      $(".intro").toggleClass("show");
    })
    //The exit empty div to close menu
    $(".exit-click").click(() => {
      $(".intro").removeClass("show");
    })
    //reusable toggle dropdown menu
    const handleToggle = () => {
      filter_btn.toggleClass("opened");
      $(".filters").fadeToggle(150);
    }

    //For toggling 
    filter_btn.click((e) => {
      console.log("filter btn clicked")
      e.stopPropagation();
      
      //add event listener only when we open dropdown
      if(!filter_btn.hasClass("opened")){
        //listen for click outside buttons in dropdown. if clicked anywhere else but buttons, add class then unbind listener.
        $(document).click((e) => {
          if(!$(e.target).hasClass("filter")){
            filter_btn.removeClass("opened");
            $(".filters").fadeOut(150);
            $(document).unbind("click")
          }
        })
      }
      //dropdown toggle clicked when open alrdy. unbind the listener.
      else{
        console.log("shouldnt add event handler to listen for outside click if dropdown opened alrdy")
        $(document).unbind("click")
      }
      //regardless we want to 
      handleToggle();
    })

    //handle filter clicks.
    $('.filter').each((btn, item) => {
      $(item).click(() => {
        selected_filter.removeClass("selected");
        selected_filter = $(item);
        selected_filter.addClass("selected")
        filter_btn.text(selected_filter.text())
        handleToggle();

      })
    })



  })
</script>