<section class="container new-feedback">
  <%# top links %>
  <%= render partial: 'shared/goback-nav', locals: {editable: false} %>

  <%# the form %>
  <div class="form-wrapper">
    <%= form_with(model: @feedback, local: true, id: "feedback-form", class: "feedback-form") do |f|%>
      <%# plus icon %>
      <div aria-hidden="true" class="feedback-form-icon">
        <svg width="1em" height="1em" viewBox="0 0 12 12" fill="none" class="text-white mobile:text-small"><path d="M7.673 11.714V7.547h4.062V4.474H7.673V.286H4.39v4.188H.286v3.073H4.39v4.167h3.283z" fill="white"></path></svg>
      </div>
      
      <h1>Create New Feedback</h1>

      <div class="form-group">
        <%= f.label :title, 'Feedback Title' %>
        <p class="desc">Add a short, descriptive headline
        </p>

        <%= f.text_field :title, class: "", value: @feedback.title, autofocus: true %>
      </div>
      

      
      <div class="form-group">
        <%= f.label :category %>
        <p class="desc">Choose a category for your feedback
        </p>
        <%= f.hidden_field :category, value: 'feature' %>

      </div>

      <div class="selection">
       
        <p id="category-toggle"  class="category-toggle selection-toggle">
          <%= @feedback.category ? @feedback.category : "Feature" %>
        </p>

        <ul id="category-options"  class="category-options selection-options">
          <% @categories.each do |category| %>
            <li>
              <button type="button" class="option category <%= 'selected' if @feedback.category == category %>"><%= category %></button>
            </li>
          <% end %>
        </ul>

      </div>
        
      <div class="form-group">
        <%= f.label :description, 'Feedback Detail' %>

        <p class="desc">Include any specific comments on what should be improved, added, etc.</p>

        <%= f.text_area :description, class: "", row: 8, value: @feedback.description %>
      </div>
      
      <div class="form-links">
        <%= f.submit class: "bordered-link purple" %>
        <%= link_to 'Cancel', :back, class: "bordered-link dark-blue" %>
      </div>
    <% end %> 

  </div>
</section>